# Configuración general
SECRET_KEY=coloca-aqui-una-clave-secreta
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# Motor de base de datos:
# sqlite para pruebas rápidas
# mysql para MySQL local o Azure Database for MySQL
DB_ENGINE=sqlite

# Configuración MySQL / Azure MySQL
DB_NAME=posada_el_descanso
DB_USER=root
DB_PASSWORD=tu_contraseña
DB_HOST=localhost
DB_PORT=3306

# Opcional para TLS/SSL en Azure MySQL
# DB_SSL_CA=ruta/al/certificado.pem
